<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uomaep.db.mapper.MySQLMapper">
    <insert id="createUser" parameterType="UserDTO">
        create user #{account} identified by #{password}
    </insert>

    <select id="isExistsUser">
        select exists(select 1 from mysql.user where user = #{username}) as user_exists;
    </select>
</mapper>